.searchbarSection{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    border: 1px solid;
    height: 80vh;
    padding: 300px;
    background-image: url(https://wallpapercave.com/wp/wp2506845.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
}

.searchbarh1{
    font-weight: bolder;
    font-size: 46px;
}

.searchbarh4{
    font-weight: bolder;
    font-size: 20px;
    width: 60%;
    margin-bottom: 20px;
}

.searchbarInnerDiv{
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.homegridDiv{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

/* .gridImage{
   
} */

.modalNav{
    display: flex;
    width: 10%;
 
    border: 1px solid;
}

.userImageURL{
    border-radius: 20px;
    margin-right: 30px;
    margin-left: 5px;
    width: 80%;
}

.userFeild{
    left: 10px;
    top: 0;
    bottom: 40px;
    display: flex;
    gap: 120px;
    width: 10%;
    align-items: center;
    
}

.PhotoCard{
    
    box-sizing: border-box;
    
}

.userFeild>Button{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: black;
    color: white;
}

